.container {
  margin: 0;
  width: 100%;
}

select {
  width: 100%;
  padding: 6px;
}

.navbar {
  margin: 0;
}

#viewport {
  background-color: #999999;
  height: calc(100vh - 52px);
  padding: 0;
}

#sidebar {
  background-color: #dddddd;
  height: calc(100vh - 52px);
}

#pagination {
  background-color: #eeeeee;
  text-align: center;
}

#map-canvas {
  height: 100%;
}
